body {
 color:red;
}

.title{
    font-size:6rem;
}

.subtitle{
    font-size:4em;
}

@media  (max-width:500px)
{
    body{
        color:green;
    }
}


@media (min-width:400px)
{
    body{
        color:cyan;
    }
}


@media (orientation:landscape)
{
    body{
        color: blueviolet;
    }
}

@media (orientation:potrait)
{
    body{
        color:violet;
    }
}